{% extends '_layout.html' %}

{% block title %}Movie Rating App | Create Movie Rating{% endblock %}

{% block body %}
<h1 class="mb-5">Create Movie Rating</h1>
<p class="mb-3">Create a movie rating below</p>
<!-- TODO: Feature 2 -->
<!-- Bootstrap form: https://getbootstrap.com/docs/4.0/components/forms/-->
<form action="/movies/new" method="post">
    <div class="form-group">
        <label for="movie_title">Movie Title</label>
        <input type="text" class="form-control" name="movie_title" id="movie_title" placeholder="Enter title of movie">
    </div>
    <div class="form-group">
        <label for="director">Director</label>
        <input type="text" class="form-control" name ="director" id="director" placeholder="Enter name of director">
    </div>
    <div class="form-group">
        <label for="rating">Rating</label>
        <select class="form-select" name="rating" id="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
