{% extends '_layout.html' %}

{% block title %}Movie Rating App | Create Movie Rating{% endblock %}

{% block body %}
<h1 class="mb-5">Create Movie Rating</h1>
<p class="mb-3">Create a movie rating below</p>
<!-- TODO: Feature 2 -->
<!-- Bootstrap form: https://getbootstrap.com/docs/4.0/components/forms/-->
<form>
    <div class="form-group">
        <label for="movie_title">Movie Title</label>
        <input type="text" class="form-control" id="movie_title" placeholder="Enter title of movie">
    </div>
    <div class="form-group">
        <label for="director">Director</label>
        <input type="text" class="form-control" id="director" placeholder="Enter name of director">
    </div>
    <div class="form-group">
        <label for="rating">Rating</label>
        <select class="form-control" id="rating">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary" id="submit-rating">Submit</button>
</form>
{% endblock %}
